language: node_js
sudo: false
node_js:
- '4'
- '6'
#- '7'
script:
- npm test
env:
  global:
    secure: JtKD45Q9TBI14ISF0SFV2ZmEf72XHQiYN7/Dz5hcuS75WPdmnpXW0KXv4i8xopCQa1yVXWuJX/QWODB99aPusZ8TzNVhoeZ2wcvjFp2zwsvqqP/lfW31om2Qaz+vX9iq1c74tffcAly/pKdVELZWNjwxT6Fw2hZ84d1wLBUY2fk=
